Hotel/validarhabitacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://itq.edu/soa/validarhab" targetNamespace="http://itq.edu/soa/validarhab" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RequestValidar">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id_hotel" type="xs:string"/>
				<xs:element name="fecha" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseValidar">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="disponibilidad" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
